{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Create conversation{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">Create new conversation</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Create" %}
          <a href="{% url 'messaging:inbox' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
