{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Login{% endblock %}
{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-center">Your account does not have permission to access this page.</p>
    {% else %}
      <p class="text-center">Please log in to view page.</p>
    {% endif %}
  {% endif %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">Log in to the system</div>
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}">
          {% bootstrap_button button_type="submit" content="Login" %}
        </form>
        <div class="d-flex justify-content-between">
          <div class="mt-2">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
          </div>
          <div class="mt-2">
            New user? <a href="{% url 'registration' %}">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
